*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url(modules/ui/img/reya-header-bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  height: 120px;
  width: 100%;
  
  background-color: transparent;
  position: relative;
}
.navbar .nav-header{
  display: inline;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links{
  display: inline;
  float: right;
  
  font-weight: 600;
    font-size: 16px;
    font-family: Poppins,sans-serif;
}
 
.navbar .nav-links .loginBtn{
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(9, 14, 90);
}
.navbar .nav-links a {
  padding: 10px 12px;
  text-decoration: none;
  font-family: Poppins,sans-serif;
  font-weight: 550;
  color: #fff;
}

/* Hover effects */
.navbar .nav-links a:hover{
  color: #F9D705;
}
 
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
 
@media (max-width:700px) {
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 55px;
    font-family: Poppins,sans-serif;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #fff;
    font-family: Poppins,sans-serif;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: transparent;
    transition: all 0.5s ease;
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: #fff;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    right: 0px;
    ffont-weight: 600;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    z-index: 1000;
  }
  .navbar .nav-links a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    background-color: #fff;
    z-index: 1000;

  }
 
  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
 
  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .navbar .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    font-weight: bold;
    color: rgb(9, 14, 90);
  }
  /* Responsive dropdown code */
  .navbar .nav-links .dropdown, .navbar .nav-links .dropdown2 {
    float: none;
    font-family: Poppins,sans-serif;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
  }
  .navbar .nav-links .drop-content, .navbar .nav-links .drop-content2 {
    position: relative;
    background-color: none;
    top: 0px;
    left: 0px;
  }
  /* Text color */
  .navbar .nav-links .drop-content a {
    color: transparent;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 16px;
  }  
 
}


 
/* Dropdown menu CSS code */
.dropdown{
  position: relative;
  display: inline-block;
  font-family: Poppins,sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.drop-content, .drop-content2 {
  display: none;
  position: absolute;
  font-family: Poppins,sans-serif;
  background-color: transparent;
  min-width: 120px;
  font-size: 16px;
  font-weight: 600;
  top: 34px;

  z-index: 1;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
/* on hover show dropdown */
.dropdown:hover .drop-content, .dropdown2:hover .drop-content2 {
  display: block;
}
/* drondown links */
.drop-content a {
  padding: 12px 10px;
  border-bottom: 1px solid rgb(197, 197, 250);
  font-family: Poppins,sans-serif;
  display: block;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease !important;
}
.dropBtn .drop-content a:hover {
  background-color: rgb(230, 230, 230);
}
.dropdown:hover .dropBtn, .dropdown2:hover .dropBtn2 {
  background-color: rgba(0, 0, 0, 0.3);
}
.dropdown2 .drop-content2 {
  position: absolute;
  left: 120px;
  top: 20px;
}
.dropBtn2 i {
  margin-left: 15px;
}